@use '../../styles/partials/global' as *;
@use '../../styles/partials/queries' as *;

.upload{

    &__title{
        font-weight: 600;
        padding: 2rem 5vw;
        font-size: 2.25rem;
        border-top: 2px solid rgba($brainflix-silver, 0.5);

        @include tablet{
            font-weight: 700;
            font-size: 1.95rem;
            padding-left: 5vw;
            padding-bottom: 1.5rem;
        }

        @include desktop{
            padding-left: 8.5vw;
        }
    }

    &__flexbox1{

        @include desktop{
            display: flex;
            width: 80%;
            margin-left: 8.5vw;
            border-top: 2px solid rgba($brainflix-silver, 0.5);
        }

        .flexbox1__video-container{
            
            .video-container__title{
                color: $brainflix-silver;
                font-weight: 600;
                font-size: 1.1rem;
                padding: 0 0 0.5rem 5vw;

                @include tablet{
                    border-top: 2px solid rgba($brainflix-silver, 0.5);
                    width: 90%;
                    margin-left: 5vw;
                    font-size: 0.75rem;
                    padding: 1.5rem 0 0.25rem 0;
                }

                @include desktop{
                    width: 81%;
                    margin-left: 0;
                    border: none;
                }
            }

            .video-container__thumbnail{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;

                @include tablet{
                    justify-content: flex-start;
                    margin-left: 5vw;
                }

                @include desktop{
                    margin-left: 0;
                    height: 11rem;
                }

                .thumbnail__video{
                    height: 90%;
                    width: 90%;
                    border-radius: 0.4rem;
                    border: 0.5px solid rgba($brainflix-silver, 0.5);

                    @include tablet{
                        width: 45%;
                    }

                    @include desktop{
                        width: 100%;
                    }
                }
            }
        }

        .flexbox1__input-container{

            .input-container__video-title{
                color: $brainflix-silver;
                font-weight: 600;
                font-size: 1.1rem;
                padding: 2rem 0 0.5rem 5vw;

                @include tablet{
                    font-size: 0.75rem;
                    padding-bottom: 0.25rem;
                }

                @include desktop{
                    padding-left: 1.25rem;
                    padding-top: 1.5rem;
                }
            }

            .input-container__input-field{
                margin-left: 5vw;
                padding-left: 1rem;
                height: 3.5rem;
                font-size: 1.1rem;
                font-weight: 600;
                background-color: $brainflix-alabaster;
                width: 87vw;
                border: 2px solid $brainflix-mercury;
                border-radius: 0.4rem;

                @include tablet{
                    height: 2.75rem;
                    font-size: 0.8rem;
                }

                @include desktop{
                    width: 55vw;
                    margin-left: 1.25rem;
                    height: 2.25rem;
                }
            }

            .input-container__description-title{
                color: $brainflix-silver;
                font-weight: 600;
                font-size: 1.1rem;
                padding: 2rem 0 0.5rem 5vw;

                @include tablet{
                    font-size: 0.75rem;
                    padding-bottom: 0.25rem;
                    padding-top: 1.2rem;
                }

                @include desktop{
                    padding-left: 1.25rem;
                }
            }

            .input-container__description{
                margin-left: 5vw;
                padding-left: 1rem;
                padding-bottom: 4.25rem;
                height: 8rem;
                font-size: 1.1rem;
                font-weight: 600;
                background-color: $brainflix-alabaster;
                width: 87vw;
                border: 2px solid $brainflix-mercury;
                border-radius: 0.4rem;

                @include tablet{
                    font-size: 0.8rem;
                    height: 5.5rem;
                    padding-bottom: 2.5rem;
                }

                @include desktop{
                    width: 55vw;
                    height: 5.25rem;
                    margin-left: 1.25rem;
                }
            }
        }
    }

    &__flexbox2{
        
        @include tablet{
            margin-left: 5vw;
            margin-top: 1.5rem;
            width: 89%;
            border-top: 2px solid rgba($brainflix-silver, 0.5);
            display: flex;
            flex-direction: row-reverse;
        }

        @include desktop{
            width: 80%;
            margin-left: 8.5vw;
            margin-top: 1rem;
        }

        .flexbox2__publish-button{
            display: flex;
            width: 89.5%;
            margin: 2rem 0 2rem 5vw;

            @include tablet{
                width: 9.5rem;
                height: 2.5rem;
                margin-top: 1.5rem;
            }

            .publish-button__icon-container{
                background-color: $brainflix-blue;
                border-bottom-left-radius: 0.4rem;
                border-top-left-radius: 0.4rem;
                padding: 0.75rem 0 0 0.75rem;

                @include tablet{
                    padding: 0.6rem 0 0 0.6rem;
                }

                .publish-button__icon{
                    width: 2rem;

                    @include tablet{
                        width: 1.25rem;
                    }
                }
            }

            .publish-button__link{
                text-decoration: none;

                .publish-button__container{
                    background-color: $brainflix-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90vw;
                    height: 3.5rem;
                    border: $brainflix-blue;
                    border-radius: 0.4rem;
                    border-bottom-left-radius: 0rem;
                    border-top-left-radius: 0rem;

                    @include tablet{
                        height: 2.5rem;
                    }

                    .publish-button{
                        background-color: $brainflix-blue;
                        border: none;
                        font-weight: 600;
                        color: $brainflix-white;
                        font-size: 1.1rem;
                        margin-right: 2rem;

                        @include tablet{
                            font-size: 0.7rem;
                            margin-right: 1.25rem;
                            padding-top: 0.2rem;
                        }
                    }
                }
            }
        }

        .flexbox2__cancel-button{
            padding-left: 2.5vw;

            .cancel-button{
                color: $brainflix-blue;
                font-weight: 600;
                font-size: 1.1rem;
                background-color: $brainflix-white;
                width: 100%;
                height: 2rem;
                margin: 1.5rem 0 3rem 0;
                border: none;

                @include tablet{
                    font-size: 0.7rem;
                    margin: 1.75rem 3.25rem 0 0;
                }

                @include desktop{
                    margin-right: 1.5rem;
                }
            }
        }
    }
}