@use '../../styles/partials/global' as *;
@use '../../styles/partials/queries' as *;

.main__hero-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
        .hero-display__video{
            height: 55vw;
            width: 100%;
        }

    .hero-display__controls{
        display: flex;
        justify-content: space-between;
        width: 88vw;
        position: absolute;
        bottom: 1rem;

        .controls__pb-icon-container{
            display: flex;
            justify-content: center;
            border-radius: 0.4rem;
            width: 2.2rem;
            padding: 0.2rem 0.5rem;
            background-color: rgba($brainflix-dark-black, 0.35);

            @include tablet{
                padding: 0.5rem 1rem;
                width: 2.75rem;
                background-color: rgba($brainflix-dark-black, 0.5);
            }

            .controls__pb-icon{
                width: 0.75rem;
            }
        }

        .controls__flexbox1{
            display: flex;
            border-radius: 0.4rem;
            background-color: rgba($brainflix-dark-black, 0.35);
            height: 1.25rem;
            width: 65vw;

            @include tablet{
                padding: 1rem;
                background-color: rgba($brainflix-dark-black, 0.5);
            }

            .flexbox1__video-line-container{
                display: flex;
                justify-content: center;
                align-items: center;

                .flexbox1__video-line{
                    background-color: $brainflix-dark-black;
                    height: 4px;
                    width: 46.5vw;
                    margin: 0 0.75rem;
                    border-radius: 1rem;

                    @include tablet{
                        width: 52vw;
                    }
                }
            }

            .flexbox1__video-time-container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                .flexbox1__video-time{
                    color: $brainflix-white;
                    font-size: 0.6rem;

                    @include tablet{
                        font-size: 0.5rem;
                    }
                }
            }
        }

        .controls__flexbox2{
            display: flex;
            justify-content: space-between;
            padding: 0 0.5rem;
            width: 4rem;
            height: 1.25rem;
            border-radius: 0.4rem;
            background-color: rgba($brainflix-dark-black, 0.35);

            @include tablet{
                padding: 1rem;
                width: 5rem;
                background-color: rgba($brainflix-dark-black, 0.5);
            }

            .flexbox2__fs-icon-container{
                display: flex;
                align-items: center;

                .flexbox2__fs-icon{
                    width: 1.25rem;

                    @include tablet{
                        width: 1.5rem;
                        margin-right: 0.5rem;
                        margin-left: -0.25rem;
                    }
                }
            }

            .flexbox2__vu-icon-container{
                display: flex;
                align-items: center;

                .flexbox2__vu-icon{
                    width: 1.35rem;

                    @include tablet{
                        width: 1.6rem;
                    }
                }
            }
        }
    }
}