@use '../../styles/partials/global' as *;
@use '../../styles/partials/queries' as *;

.home{

    .home__flexbox{

        @include desktop{
            display: flex;
            margin: 0 4vw;
        }

        .flexbox__container1{
            width: 60%;
        }

        @include desktop{
            width: 92%;
        }

        .flexbox__container2{
            
            @include desktop{
                border-left: 2px solid rgba($brainflix-silver, 0.5);
                margin-left: 5.4vw;
            }
        }
    }
}